In [1]:
students = ['karthik', 'balaji', 'phani', 'narendra', 'naveen', 'kalyan']

In [2]:
print(students)

['karthik', 'balaji', 'phani', 'narendra', 'naveen', 'kalyan']

In [4]:
print(students[0:4:2])

['karthik', 'phani']

In [9]:
even_num = list(range(2,31,2))

In [10]:
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [14]:
odd_num = list(range(1,30,2))
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [29]:
type(even_num)

list

In [17]:
type(odd_num)

list

In [18]:
students = ['Kiran', 'karuna', 'kishore', 'karthik', 'kamala', 'kalyan']

In [19]:
print(students)

['Kiran', 'karuna', 'kishore', 'karthik', 'kamala', 'kalyan']

In [22]:
print(students[0:2])
print(students[::2])

['Kiran', 'karuna']
['Kiran', 'kishore', 'kamala']

In [30]:
print(students[1::2])

['karuna', 'karthik', 'kalyan']

In [31]:
print(students)

['Kiran', 'karuna', 'kishore', 'karthik', 'kamala', 'kalyan']

In [34]:
print(students[5])

kalyan

In [35]:
print(students[-1])

kalyan

In [36]:
print(students)

['Kiran', 'karuna', 'kishore', 'karthik', 'kamala', 'kalyan']

In [37]:
print(students[::-1])

['kalyan', 'kamala', 'karthik', 'kishore', 'karuna', 'Kiran']